* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 10px;
    font-weight: 100;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
    margin-right: 1rem;
}

a:hover {
    border-bottom: 3px solid #fff;
    border-radius: 10px;
}

.small-logo {
    padding: 2rem;
    display: inline-block;
}

.small-logo:hover {
    border: none;
}

.btn {
    margin-right: 1rem;
    border: none;
    border-radius: 0.6rem;
    padding: 0.5rem 1.4rem;
    cursor: pointer;
}

.btn-app {
    color: #eb5a3f;
    border: 1px solid #eb5a3f;
}

.btn-app:hover {
    background-color: #eb5a3f;
    color: #fff;
    border-bottom: 3px solid transparent;
}

.btn-details {
    background-color: #31fa31ce;
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1rem 1.8rem;
}

.btn-details:hover {
    background-color: white;
    color: #31fa31ce;
    border: none;
}

.btn-explore {
    border: 1px solid #eb5a3f;
    padding: 2rem;
    background-color: #eb5a3f;
    color: #fff;
    font-weight: bolder;
}

.btn-explore:hover {
    color: #eb5a3f;
    background-color: #fff;
}

.btn-login {
    color: #fff;
    border: 1px solid #eb5a3f;
    background-color: #eb5a3f;
}

.btn-login:hover {
    background-color: #fff;
    color: #eb5a3f;
    border: 1px solid transparent;
}

.btn-search {
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    border-radius: 0.6rem;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    border: 1px solid #8cdb42;
    background-color: #8cdb42;
}

.btn-search:hover {
    background-color: #649b30;
    border-color: #649b30;
}

.hide {
    display: none;
}

section {
    padding: 6rem;
}

header {
    height: 95vh;
    margin: 0 auto;
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#000000a8),
            to(#32333331)
        ),
        url(assets/imgs/main-bg2.jpg) no-repeat bottom;
    background: linear-gradient(to bottom, #000000a8, #32333331),
        url(assets/imgs/main-bg2.jpg) no-repeat bottom;
    background-size: cover;
}

header div#small-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

header div#small-nav div#hamburger {
    margin: 2rem;
}

header div#small-nav div#hamburger span {
    display: inline-block;
    margin-bottom: 0.5rem;
    background-color: #eb5a3f;
    padding: 0.1rem;
    width: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header nav {
    padding-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 400;
}

header nav .logo {
    font-size: 1.7rem;
    margin: 0 3rem;
}

header div.heading {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
}

header div.heading h1 {
    font-size: 3.5rem;
    font-weight: 200;
    padding: 2rem auto;
    text-transform: capitalize;
}

header div.heading h1 span {
    text-transform: initial;
}

header div.heading p {
    margin: 2rem auto;
    font-size: 1.1rem;
    font-weight: 100;
}

header div.heading form {
    background-color: #00000091;
    padding: 1rem;
}

header div.heading form input,
header div.heading form select {
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    border-radius: 0.6rem;
    border: none;
    font-size: 1.2rem;
    color: gray;
}

header div.heading form input {
    padding-right: 4rem;
}

section#info {
    width: 100vw;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section#info h1 {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

section#info h1:after {
    content: ' ';
    display: block;
    width: 50%;
    height: 0.3rem;
    margin: 1rem auto;
    background-color: #eb5a3f;
}

section#info div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section#info div div.detail {
    padding: 5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section#info div div.detail img {
    width: 230px;
    height: 200px;
}

section#info div div.detail h2 {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bolder;
}

section#info div div.detail p {
    font-size: 1.3rem;
    font-weight: 300;
}

section#how-it-works {
    background-color: #bbbbbb17;
}

section#how-it-works div.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section#how-it-works div {
    margin: 2rem;
}

section#how-it-works div.image {
    -webkit-box-shadow: 0px 20px 20px 2px grey;
    box-shadow: 0px 20px 20px 2px grey;
}

section#how-it-works div.image img {
    width: inherit;
    height: 300px;
}

section#how-it-works div h2 {
    font-size: 2rem;
    color: #b8b8b8;
}

section#how-it-works div h1 {
    font-size: 3rem;
    text-transform: capitalize;
    margin: 1rem 0;
}

section#how-it-works div h1 span {
    text-transform: lowercase;
}

section#how-it-works div p {
    font-size: 1.8rem;
    color: #888888;
    font-weight: 200;
}

section#how-it-works div.detail h2 {
    margin: 2rem 0;
}

section#how-it-works div.detail img {
    height: 100px;
    width: 120px;
}

section#featured {
    margin: 0 auto;
    text-align: center;
}

section#featured h1 {
    font-size: 3rem;
    text-transform: capitalize;
}

section#featured h1::after {
    content: ' ';
    display: block;
    width: 10%;
    height: 0.3rem;
    margin: 1rem auto;
    background-color: #eb5a3f;
}

section#featured div.listing {
    margin: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

section#featured div.listing div.house {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: start;
    padding: 2rem;
    width: 21%;
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(rgba(34, 34, 34, 0.705)),
            to(#0000000e)
        ),
        url(assets/imgs/main-bg.png) no-repeat center;
    background: linear-gradient(to top, rgba(34, 34, 34, 0.705), #0000000e),
        url(assets/imgs/main-bg.png) no-repeat center;
    height: 450px;
    border-radius: 5px;
    margin: 2rem 1px;
    cursor: pointer;
}

section#featured div.listing div.house h2 {
    font-size: 1.6rem;
    color: #fff;
    margin-bottom: 1rem;
}

section#featured div.listing div.house h2 span {
    font-size: 2rem;
}

section#featured div.listing div.house:hover {
    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            from(rgba(0, 0, 0, 0.637)),
            to(#00000098)
        ),
        url(assets/imgs/main-bg.png) no-repeat center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.637), #00000098),
        url(assets/imgs/main-bg.png) no-repeat center;
}

section#download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(206, 206, 206, 0.185);
}

section#download h1 {
    font-size: 2rem;
}

section#download p {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 2rem 0;
}

section#download div {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

section#download div:first-of-type img {
    width: 150px;
    border-radius: 0.5rem;
}

section#testimonials {
    text-align: center;
}

section#testimonials h1:first-child {
    text-transform: capitalize;
    font-size: 3rem;
    margin-bottom: 2rem;
}

section#testimonials h1:first-child:after {
    content: ' ';
    display: block;
    width: 10rem;
    height: 0.3rem;
    margin: 1rem auto;
    background-color: #eb5a3f;
}

section#testimonials div#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

section#testimonials div#left {
    max-width: 54%;
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(rgba(255, 255, 255, 0)),
            to(rgba(255, 255, 255, 0.89))
        ),
        url(assets/imgs/testmonial-bg.jpg) no-repeat top center;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0.89)
        ),
        url(assets/imgs/testmonial-bg.jpg) no-repeat top center;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 5rem;
}

section#testimonials div#left h2 {
    font-size: 2rem;
    margin: 1rem auto;
    font-weight: 600;
    padding-top: 18rem;
}

section#testimonials div#left p {
    font-size: 2rem;
    font-weight: 300;
    color: #3a3a3a;
    margin: 1rem auto;
}

section#testimonials div#left a {
    color: green;
    font-weight: 500;
    display: inline-block;
    border: 1px solid transparent;
}

section#testimonials div#right {
    max-width: 40%;
    height: 100%;
}

section#testimonials div#right div {
    margin-bottom: 2rem;
    text-align: start;
    border-radius: 5px;
    padding: 2rem;
    -webkit-box-shadow: 0px 10px 15px 1px #c9c9c9;
    box-shadow: 0px 10px 15px 1px #c9c9c9;
}

section#testimonials div#right div h2 {
    font-size: 1.2rem;
    color: gray;
    font-weight: 300;
}

section#testimonials div#right div h1 {
    margin: 1rem 0;
}

section#testimonials div#right div p {
    font-size: 1.5rem;
    font-weight: 300;
    color: gray;
}

section#testimonials div#right div a {
    padding: 1rem 0;
    margin: 0.4rem 0;
    color: green;
    font-weight: 500;
    display: inline-block;
    border: 1px solid transparent;
}

footer {
    background-color: rgba(207, 207, 207, 0.623);
    padding: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

footer div#newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

footer div#newsletter h2 {
    font-size: 1.3rem;
    font-weight: 600;
    max-width: 40%;
    color: gray;
}

footer div#newsletter h2 span {
    font-size: 2rem;
    font-weight: bolder;
}

footer div#newsletter form input {
    padding: 1rem;
    border: none;
    margin: 0px 2rem;
    font-size: 1.2rem;
}

footer div#footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2rem;
}

footer div#footer a {
    color: rgba(0, 0, 0, 0.651);
    padding: 5px;
    margin: 0;
    display: block;
    font-weight: 300;
    cursor: pointer;
}

footer div#footer a:hover {
    color: #000;
    border: none;
}

footer div#footer div {
    margin: 2rem;
}

footer div#footer div h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

footer div#footer div h3 {
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 1rem;
}

footer div#footer div#social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer div#footer div#social-links img {
    height: 50px;
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
    header div.main-nav,
    header div.download-btn {
        display: none;
    }
    header div.heading {
        position: absolute;
        top: 80%;
        left: 50%;
        -webkit-transform: translate(-50%, -80%);
        transform: translate(-50%, -80%);
    }
    header div.heading h1.main-heading {
        font-size: 1.6rem;
        font-weight: 700;
    }
    header div.heading p {
        font-size: 1.5rem;
        font-weight: 300;
        margin: 0.5rem auto;
    }
    header div.heading form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1.5rem;
    }
    header div.heading form input {
        margin: 0.7rem auto;
        width: 90%;
        padding: 0.6rem;
        font-size: 1rem;
    }
    header div.heading form select {
        text-align: center;
        font-size: 1rem;
        padding: 0.9rem;
    }
    section#info {
        padding: 2rem;
        text-align: center;
    }
    section#info div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    section#info div div.detail {
        padding: 0.6rem;
        margin-bottom: 1.8rem;
    }
    section#info div div.detail img {
        width: 180px;
    }
    section#info div div.detail h2 {
        font-size: 1.2rem;
    }
    section#info div div.detail p {
        font-size: 1rem;
    }
    section#how-it-works {
        padding: 2rem;
        text-align: center;
    }
    section#how-it-works div.container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    section#how-it-works div.container div h1 {
        font-size: 1.3rem;
    }
    section#how-it-works div.container div p {
        font-size: 1.3rem;
    }
    section#how-it-works div.container:first-of-type img {
        width: 300px;
        height: 220px;
    }
    section#featured {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    section#featured div.listing {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    section#featured div.listing div.house {
        padding: 1rem;
        min-width: 100%;
    }
    section#featured div.listing div.house h2 {
        font-size: 1.2rem;
    }
    section#featured div.listing div.house h2 span {
        font-size: inherit;
    }
    section#featured div.listing div.house a.btn {
        text-align: center;
        font-size: 1.2rem;
    }
    section#testimonials {
        padding: 1rem;
        text-align: center;
    }
    section#testimonials div#content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    section#testimonials div#content div#left {
        max-width: 100%;
        padding: 4rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 10px;
    }
    section#testimonials div#content div#left h2 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    section#testimonials div#content div#left p {
        font-size: 1.2rem;
    }
    section#testimonials div#content div#right {
        max-width: 100%;
        padding: 2rem;
    }
    section#testimonials div#content div#right div {
        width: 100%;
        padding: 0.6rem;
    }
    section#download {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1.6rem;
    }
    section#download div img {
        max-width: 300px;
    }
    section#download div div.images img {
        max-width: 20px;
    }
    footer {
        padding: 1rem;
    }
    footer div#newsletter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    footer div#newsletter h2 {
        font-size: 1rem;
        min-width: 100%;
    }
    footer div#newsletter form {
        margin-top: 1.3rem;
    }
    footer div#newsletter form input {
        margin: 0;
    }
    footer div#newsletter form button {
        margin-top: 1rem;
    }
    footer div#footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    footer div#footer div#social-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    footer div#footer div#social-links img {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    header div.main-nav,
    header div.download-btn {
        display: none;
    }
    header div.heading form input {
        margin: 0.7rem auto;
        width: 90%;
        padding: 0.6rem;
        font-size: 1rem;
    }
    header div.heading form select {
        text-align: center;
        font-size: 1rem;
        padding: 0.9rem;
    }
    section#info div {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    section#info div div.detail {
        padding: 1.5rem;
    }
    section#featured {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    section#featured div.listing {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    section#featured div.listing div.house {
        padding: 1rem;
        min-width: 47%;
    }
    section#featured div.listing div.house h2 {
        font-size: 1.2rem;
    }
    section#featured div.listing div.house h2 span {
        font-size: inherit;
    }
    section#featured div.listing div.house a.btn {
        text-align: center;
        font-size: 1.2rem;
    }
    section#testimonials {
        padding: 1rem;
        text-align: center;
    }
    section#testimonials div#content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    section#testimonials div#content div#left {
        max-width: 100%;
        padding: 4rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 10px;
    }
    section#testimonials div#content div#left h2 {
        font-size: 1.2rem;
        font-weight: 400;
    }
    section#testimonials div#content div#left p {
        font-size: 1.2rem;
    }
    section#testimonials div#content div#right {
        max-width: 100%;
        padding: 2rem;
    }
    section#testimonials div#content div#right div {
        width: 100%;
        padding: 0.6rem;
    }
    section#how-it-works {
        padding: 2rem;
        text-align: center;
    }
    section#how-it-works div.container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    section#how-it-works div.container div h1 {
        font-size: 0.7rem;
    }
    section#how-it-works div.container div p {
        font-size: 1.4rem;
    }
    section#how-it-works div.container:first-of-type img {
        width: 300px;
        height: 220px;
    }
    section#download {
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1.6rem;
    }
    section#download div img {
        max-width: 300px;
    }
    section#download div p,
    section#download div h1 {
        padding: 0.5rem 4rem;
    }
    section#download div div.images img {
        max-width: 20px;
    }
    footer {
        padding: 1rem;
    }
    footer div#newsletter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    footer div#newsletter h2 {
        font-size: 1rem;
        min-width: 100%;
    }
    footer div#newsletter form {
        margin-top: 1.3rem;
    }
    footer div#newsletter form input {
        margin: 0;
    }
    footer div#newsletter form button {
        margin-top: 1rem;
    }
    footer div#footer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }
    footer div#footer div#social-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    footer div#footer div#social-links img {
        width: 25px;
        height: 25px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    header div#small-nav {
        display: none;
    }
    header nav a {
        margin: 0;
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
    header nav a.logo {
        font-size: 1rem;
        margin: 0;
    }
    header nav .btn {
        padding: 0.5rem 1rem;
    }
    header div.heading p {
        font-size: 1.4rem;
    }
    header form input {
        margin: 1rem 0;
    }
    section#info div {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    section#info div div.detail {
        padding: 1.5rem;
    }
    section#download {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 1.6rem;
    }
    section#download div img {
        max-width: 300px;
    }
    section#download div p,
    section#download div h1 {
        padding: 0.5rem 4rem;
    }
    section#download div div.images img {
        max-width: 20px;
    }
    section#featured {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    section#featured div.listing {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    section#featured div.listing div.house {
        padding: 1rem;
        min-width: 47%;
    }
    section#featured div.listing div.house h2 {
        font-size: 1.2rem;
    }
    section#featured div.listing div.house h2 span {
        font-size: inherit;
    }
    section#featured div.listing div.house a.btn {
        text-align: center;
        font-size: 1rem;
    }
    section#testimonials div#left h2 {
        font-size: 1.7rem;
        text-transform: capitalize;
        font-weight: 500;
    }
    section#testimonials div#left p {
        font-size: 1.4rem;
        font-weight: 400;
    }
    footer {
        padding: 3rem;
    }
    footer div#newsletter form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    footer div#footer div {
        margin: 0.3rem;
    }
    footer div#footer div#social-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    footer div#footer div#social-links img {
        width: 40px;
        height: 40px;
    }
}

@media only screen and (min-width: 992px) {
    header div#small-nav {
        display: none;
    }
    header nav a {
        padding: 1rem 1.6rem;
        margin-right: 1rem;
        font-size: 1.2rem;
    }
    header nav .btn {
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
    }
    header form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    section#how-it-works div.image img {
        width: 350px;
        height: 300px;
    }
    section#info div {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    section#info div div.detail {
        padding: 1.5rem;
    }
}
/*# sourceMappingURL=main.css.map */
